.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skillItem {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 0.5rem;
}

.skillIcon {
    margin-right: 8px;
}

.skillName {
    font-weight: bold;
}
