.vstack,
.content {
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.content {
    margin-left: 11rem;
}

.content > * {
    margin-bottom: 25rem;
}

.hstack {
    display: flex;
    flex-direction: row;
}
